
.bkpk{
    padding: 60px 0px;
    background-color: #F3EAD8;


}


.nopadunder{
    margin-bottom: 0px;
}

.nounder{
    text-decoration: none;
    color: #74706B;
}


.bde{
    text-align: center;
}


.allic:hover .descri{
    color: black;
}


